body{
    background-color: rgb(228, 212, 195);
}


.form1, .table1{
    border:1px solid black;
    padding:10px;
}

label{
    text-align:center !important;
}

#title, #description{
    text-align:center !important;
}

